<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativecardscanner">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-feature android:name="android.hardware.camera" />
  <application>
    <activity
      android:enabled="true"
      android:exported="true"
      android:label="ScanActivity"
      android:launchMode="singleInstance"
      android:excludeFromRecents="true"
      android:windowSoftInputMode="stateHidden"
      android:name=".cardmodules.ScanActivityImpl">

    </activity>
  </application>

</manifest>
